/* sass notes


able to create variables:

example: 

$primaryBtn: blue;

    header .btn: {
        background: $primaryBtn
    }

Able to nest child elements into parent elements
example:

header {
    color: red;

    button { 
        color: white;
    }
}

if you wanna add a hover or something do it like this:

button {
    color: red;
    &:hover {
        color: blue
    }
    &::after {
        content: 'hello'
    }
}

if you wanna seperate into multiple files, create them with an underscore '_header.scss' and then import like this:
@import './header';
@import './variables;

Able to create mixins (functions basically)
example:
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

------
header {
    @include flexCenter();
}

you can also pass parameters into mixins
example:

@mixin flexCenter($direction) {

    flex-direction: $direction

}

header {
    @include flexCenter(column);
}

footer {
    @include flexCenter(row);
}

if you wanna inherit styles from another element, use @extend <element>

.contact {
    @extend header;
}

you can also overwrite styles by putting them below @extend

you can also use + - / * math operators.
*/



/* ---- VARIABLES ---- */

$defaultColor: #005AA7;
/* fallback for old browsers */
$defaultColorGradient1: -webkit-linear-gradient(to top, #FFFDE4, rgb(248, 248, 248));
 /* Chrome 10-25, Safari 5.1-6 */
$defaultColorGradient2: linear-gradient(to top, rgb(248, 248, 248), #005AA7);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

$nightThemeColor: #222;


/* ---- DEFAULT THEME STYLES ---- */

.header {
    background: $defaultColor;
    background: $defaultColorGradient1;
    background: $defaultColorGradient2;
    padding: 2em;
    margin: auto;
    margin-bottom: 2em;
}
.title {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Carter One', cursive;
    font-size: 3em;
    padding: 1em;
   
}


.main-content {
    margin-top: 10%;
    border-top: 1px solid grey;
}

.search-area {
    width: 20%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    .button {
        margin-top: 1em;
    }

}




.ui.search>.results {
    display: none;
    width: 0px;
}

.ui.search>.results>.message {
    display: none;
    width: 0px;
}

.post {
    padding: 4em 0;
    text-align: center;
    border-bottom: 1px solid grey;
    img {
        width: 25%;
        height: 25%;
        margin: auto;
    }
    

    .post-title {
        margin-top: 0;
        font-size: 1.4em;
    }

    .post-info {
        margin-top: 10px;

        i {
            font-size: 20px;
        }

        p {
            display: inline;
            font-size: 1.2em;
           
        }

        .comment-num {
            margin-left: 2em;
        }

        .score-num {
            margin-right: 5px;
        }
        
    }
}



/* ---Comments--- */

.single-post-header {
    padding-bottom: 5em;
    border-bottom: 1px solid black;

}

.comments {

    .comment {
        margin-top: 0;
        padding: 2em;
        

        p {
            margin: 0;
            padding: 1em;
        }

        h4 {
            margin: 0;
        }

    }

    .reply {
        background: white;
        margin: 0 6em;
        border-left: 1px solid grey;
        padding: 1em;
    }
}






/* ---- NIGHT THEME STYLES ---- */

.nightHeader {
    @extend .header;
    background: $nightThemeColor
}
