.title {
    text-align: center;
    font-weight: bold;
}


.main-content {
    margin: 3em;
}

.search-area {
    border: 2px solid black;
    background: cyan;
    width: 20%;
    padding: 1em;
    text-align: center;
    margin: 2em auto;
}

.search {
    margin: 1em;
}

